.nav{
	width: 100%;
	background-color: orange;
	height: 50px;
	border-radius: 4px;
}

ul li{
	list-style-type: none;
	display: block;
	float: left;
	padding:10px;
	color: white;
}

.slides{
	position: relative;
}

.caption{
	position: absolute;
	top: 65%;
	left: 45%;
	text-align: center;
}